@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
  font-family: "PPT_Regular";
  src: url("../src/assets/fonts/PP\ Telegraph/PPTelegraf-Regular.otf");
}

@font-face {
  font-family: "PPT_Bold";
  src: url("../src/assets/fonts/PP\ Telegraph/PPTelegraf-UltraBold.otf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 16px;
  font-family: "PPT_Regular", "PPT_Bold", Arial, Helvetica, sans-serif;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
}

:root {
  --pastle-pink: #f0e3ff;
  --navbar-height: 60px;
}
